<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Name</title>
  <!-- CSS -->
  <link rel="stylesheet" href="css/general.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>


  <div id="welcome-page">
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="img/logo.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News </a>
            </li>

          </ul>

        </div>
      </nav>

      <div id="welcome-content">
        <div class="row justify-content-center text-center">
          <div class="col lg-auto">
            <h1 class="text-uppercase"><span class="bold-span">Name</span> <span class="small-span">shop
              </span> </h1>
            <hr class="hr-small">
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, veritatis.
            </p>
            <div class="mt-5"></div>
            <a class="btn-red-lg" href="#products">Shop Now</a>
          </div>

        </div>

      </div>

    </div>

  </div>






  <div id="products">
    <div class="container p-100 text-center">
      <h2> <span class="border-btm">Our Products</span></h2>

      <div class="row pt-5">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-header"><img src="product/product1.png" alt=""></div>
            <div class="card-body">
              <h4 id="title-product" class="card-title">Product One</h4>
              <p id="description-product" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempore, illum.</p>
              <span id="price-product">2000 UAH</span>
              <div class="pt-4"></div>
              <a class="btn-red-lg" href="#products">Buy</a>
              <div class="pt-4"></div>
            
            </div>
          </div>
        </div>

        





      </div>

    </div>

  </div>






  <div id="became">
    <div class="container p-50">
      <div class="row align-items-center justify-content-between">

        <div class="col-lg-auto">
          <h2>Became A Part Of <span class="bold-span">Name</span> Community Today</h2>
        </div>
        <div class="col-lg-auto">
          <a class="btn-white-lg" href="#">Join us</a>
        </div>
      </div>
    </div>
  </div>

  <div id="updates">
    <div class="container p-100">
      <div class="row text-center justify-content-center">
        <h2> <span class="border-btm">Our Latest Updates</span></h2>
        <div class="w-100"></div>
        <p class="pt-5 gray-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, iusto<br> minima ipsam
          quod laboriosam
          dignissimos tempora voluptatum officia atque esse!</p>
      </div>
      <div class="w-100"></div>
      <div class="row justify-content-center">

        <div class="col-lg-4">

          <div class="card ">
            <div class="card-header">
              <img src="img/updates-image.jpg" class="image-fluid" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">LOREM IPSUMa DOLOR SIT</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, praesentium?</p>
            </div>
          </div>

        </div>


        <div class="col-lg-4">

          <div class="card ">
            <div class="card-header">
              <img src="img/updates-image.jpg" class="image-fluid" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">LOREM IPSUMa DOLOR SIT</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, praesentium?</p>
            </div>
          </div>

        </div>





        <div class="col-lg-4">

          <div class="card ">
            <div class="card-header">
              <img src="img/updates-image.jpg" class="image-fluid" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">LOREM IPSUMa DOLOR SIT</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, praesentium?</p>
            </div>
          </div>

        </div>

        <div class="w-100"></div>
        <div class="col-lg-auto ">
          <div class="text-center mt-5">
            <a href="#">Show more<br><img src="img/arrow.png" alt=""></a>
          </div>

        </div>


      </div>


    </div>
  </div>





  <footer>
    <div class="container">
      <div class="row justify-content-between pt-4 pb-2">
        <div class="col-lg-auto">
          <p>© 2019 COPYRIGHT </p>
        </div>

      </div>
    </div>
  </footer>

  <!-- javascript  -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>